*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared Styles */
.font-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.container{
    width: 85%;
    max-width: 1600px;
    margin: 0 auto;
}

.btn{
    background-color: #469165;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
}
.btn:hover{
    color: #469165;
    background-color: aliceblue;
}
.btn2{
    border: 1px solid #FFFFFF;
    background: transparent;
    border-radius: 5px;
    padding: 12px 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
    margin-left: 16px;
}
.btn2:hover{
    color: #469165;
    background-color: aliceblue;
}
/* Main Style */
header{
    padding-top: 16px;
    padding-bottom: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 32px;
}
nav .menu a{
    font-size: 16px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s;
}
nav .menu a:hover{
    color: #469165;
}
#hero-section{
    background-image: url(assets/hero-bg.png);
    height: 674px;
    width: 100%;
    background-size: cover;
    background-position: center;

}
.hero-content{
    padding-top: 115px;
    padding-bottom: 180px;
    text-align: center;
    max-width: 770px;
    margin: 0 auto;
}
.white{
    background-color: white;
    border-radius:50px ;
    width: 229px;
    height: 35px;
    padding: 8px 12px;
    color: #469165;
    margin: 0 272px;
}
.hero-content h1{
    padding: 16px 0;
    color: #fff;
    font-size: 72px;
    font-weight: 700;
}
.hero-content .color{
    color: #30B868;
}
.hero-content .text{
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    max-width: 766px;
    padding-bottom: 32px;
}
#structure{
    
    background-color: rgb(229, 230, 231);
}
.structure-content{
    padding-top: 90px;
    text-align: center;
}
#structure .structure-content .about-info{
    display: flex;
    justify-content: space-around;
}
.section-heading h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    padding-bottom: 16px;
}
.section-heading .info{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    padding-bottom: 44px;
}
.about-info .info-card{
    background-color: #fff;
    width: 322px;
    height: 300px;
    justify-content: center;
    align-items: center;
    padding: 24px;
    margin-right: 16px;
    /* gap: 24px; */
}
.about-info .info-card .stack{
    width: 32px;
    height: 32px;

}
.color-box{
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 39px 99px 16px;
}
.color-box img{
    margin-top: 14px;
}
.info-card h4{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    padding-bottom: 16px;
}
.info-card p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}
